//herder-mobiel
.mobile {
    display: none;
}
//client-social-mobile
.clients__social-mobile {
    display: none;
}
//pricing__order__mobile
.pricing__order__mobile {
    display: none;
}
//btn-video-mobile
.btn-video {
    display: none;
}